/* This mode hides Vivaldi's bar and just keeps the SharpTabs extension shown */

/* It also sets the side bar to be narrower than the minimum allowed value of 260px */

#switch {
    display: none !important;
}

.left .panel-group .panel-collapse-guard {
    min-width: 100% !important;
    max-width: 100% !important;
}

/* Adjust this to set the panel width to less than 260px here, but it'll disable resizing */
#panels-container {
    /* Static panel width, comment if 260px minimum + resizing is desired */
    width: 180px !important;

    /* Hide the resize handle + comment if 260px minimum + resizing is desired */
    & > button.SlideBar--FullHeight {
        display: none;
    }
}