:root {
    --width-full: 300px;
    --width-minimized: 77px;
    --width-hovered: 260px;
    --animation-speed: 0.2s;
    --transition-web-panel: transform var(--animation-speed) ease-in-out, width var(--animation-speed) ease-in-out;

    /* IMPORTANT: Incase you face any issues with the panel placement
    then adjust these values like shown in the video: */

    --shift-vivaldi-panel-bar-left-collapsed: -33px;
    --shift-vivaldi-panel-bar-left-expanded: 44px;
    --shift-vivaldi-page: 44px;

    .density-on {
        --shift-vivaldi-panel-bar-left-collapsed: -40px !important;
        --shift-vivaldi-panel-bar-left-expanded: 38px !important;
        --shift-vivaldi-page: 38px !important;
    }
}

/* When the panel collapse styles are active, hide the panel's buttons */
#switch {
    opacity: 0 !important;
}

#panels-container.panel-expanded {
    width: var(--width-full) !important;
}

#webview-container {
    padding-left: var(--shift-vivaldi-page) !important;
}

#panels-container:not(.panel-expanded) {
    width: var(--width-minimized) !important;
}

#panels-container {
    position: absolute !important;
    transition: width var(--animation-speed) ease-in-out !important;
    will-change: width;
}

.panel-collapse-guard {
    min-width: var(--width-minimized) !important;
    max-width: var(--width-hovered) !important;
}
#panels-container.panel-expanded {
    width: var(--width-hovered) !important;
}

/* Make the side panel not resizeable in overlay mode */
/* Makes cursor not change when hovering side panel */
#panels-container > button.SlideBar--FullHeight {
    display: none;
}

div#panels-container {
    transition: var(--transition-web-panel) !important;
    will-change: width;
    height: 100%;

    &.left {
        transform: translateX(calc(-100% + var(--shift-vivaldi-panel-bar-left-expanded)));
    }
}

#browser {
    &:has(div#panels-container.left:hover),
    &.tabs-left:has(div#panels-container.left):has(:is(.inner .tabbar-wrapper):hover) {
        div#panels-container.left {
            transform: translateX(var(--shift-vivaldi-panel-bar-left-collapsed));
        }
    }
}
