/* Version v1.1 - 2025-11-11 */

/*
    ============================================
        SHARPTABS PANEL MODES
        Combined CSS for Fixed and Hover modes
    ============================================
*/

#app #switch {
    will-change: flex-basis, opacity, width;
    transition: flex-basis 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.3s ease-in-out !important;
}

#webview-container {
    will-change: padding-left;
    transition: padding-left 0.13s ease-in-out !important;
}

#app #panels-container {
    will-change: width;
    height: 100%;
}

/* === FIXED MODE === */
/* This mode hides Vivaldi's panel's bar and just keeps the SharpTabs extension shown */
/* It also sets the side bar to be narrower than the minimum default allowed value of 260px */

#app.sharptabs-fixed-mode {
    --width-full: 220px;
    --width-minimized: 77px;
    --width-hovered: 220px;
    --animation-speed: 0.2s;
    --transition-web-panel: transform var(--animation-speed) ease-in-out, width var(--animation-speed) ease-in-out;

    /* IMPORTANT: Incase you face any issues with the panel placement
    then adjust these values like shown in the video: */
    --shift-vivaldi-panel-bar-left: 0px;
    --shift-vivaldi-page: 200px;
}

#app.sharptabs-fixed-mode #switch {
    width: 0 !important;
    flex-basis: 0 !important;
    opacity: 0 !important;
}

#app.sharptabs-fixed-mode .left .panel-group .panel-collapse-guard {
    min-width: 100% !important;
    max-width: 100% !important;
}

/* Adjust this to set the panel width to less than 260px here, but it'll disable resizing */
#app.sharptabs-fixed-mode #panels-container {
    position: absolute !important;
    /* Static panel width, comment if 260px minimum + resizing + hidden vivaldi panels bar is desired */
    width: 200px !important;
    transform: translateX(calc(100% + var(--shift-vivaldi-panel-bar-left-expanded)));
    height: 100%;
}

#app.sharptabs-fixed-mode #webview-container {
    padding-left: var(--shift-vivaldi-page) !important;
}

/* Hide the resize handle + comment if 260px minimum + resizing is desired */
#app.sharptabs-fixed-mode #panels-container > button.SlideBar--FullHeight {
    display: none;
}

/* === HOVER MODE === */
#app.sharptabs-hover-mode {
    --width-full: 220px;
    --width-minimized: 77px;
    --width-hovered: 220px;

    /* IMPORTANT: Incase you face any issues with the panel placement
    then adjust these values like shown in the video: */
    --shift-vivaldi-panel-bar-left-collapsed: 0px;
    --shift-vivaldi-panel-bar-left-expanded: 39px;
    --shift-vivaldi-page: 39px;
}

#app.sharptabs-hover-mode #browser.density-on {
    --shift-vivaldi-panel-bar-left-collapsed: 0px !important;
    --shift-vivaldi-panel-bar-left-expanded: 38px !important;
    --shift-vivaldi-page: 38px !important;
}

/* When the panel hover mode is active, hide the panel's buttons */
#app.sharptabs-hover-mode #switch {
    width: 0 !important;
    flex-basis: 0 !important;
    opacity: 0 !important;
}

/* Uncomment the following code if you want to keep the panel buttons when you hover over the collapsed sidebar: */
/*
#app.sharptabs-hover-mode:not(:hover) #switch {
    width: 0 !important;
    flex-basis: 0 !important;
    opacity: 0 !important;
}
*/


#app.sharptabs-hover-mode #panels-container {
    width: var(--width-minimized) !important;
    transform: translateX(calc(-100% + var(--shift-vivaldi-panel-bar-left-expanded)));
}

#app.sharptabs-hover-mode #panels-container {
    position: absolute !important;
    will-change: width;
    width: var(--width-minimized);
    transition: transform 0.2s ease-in-out, width 0.2s ease-in-out !important;
}

 #app.sharptabs-hover-mode .panel-collapse-guard {
    min-width: var(--width-minimized) !important;
    max-width: var(--width-hovered) !important;
}

#app.sharptabs-hover-mode div#panels-container:hover {
    width: var(--width-hovered) !important;
    transform: translateX(var(--shift-vivaldi-panel-bar-left-collapsed));
}


/* shift page to the right (confirmed) */
#app.sharptabs-hover-mode #webview-container {
    padding-left: var(--shift-vivaldi-page) !important;
}

/* Make the side panel not resizeable in overlay mode */
/* Makes cursor not change when hovering side panel */
#app.sharptabs-hover-mode #panels-container > button.SlideBar--FullHeight {
    display: none;
}
